<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Currency Converter using ExchangeRateAPI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>
<body class="container mt-5">
    <h1>Portfolio Project</h1>
    <h3 class="mb-4">Currency Converter</h3>

    <form method="post">
        <div class="form-group">
            <label for="from_currency">From Currency:</label>
            <select class="form-control" id="from_currency" name="from_currency" required>
                <option value="USD">USD</option>
                <option value="PKR">PKR</option>
                <!-- Add more currencies as needed -->
            </select>
        </div>

        <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="number" class="form-control" id="amount" name="amount" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="to_currency">To Currency:</label>
            <select class="form-control" id="to_currency" name="to_currency" required>
                <option value="EUR">EUR</option>
                <option value="PKR">PKR</option>
                <!-- Add more currencies as needed -->
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Convert</button>
    </form>

    {% if result %}
        <div class="mt-4">
            <h4>Result:</h4>
            <p>{{ converted_amount }} {{ to_currency }}</p>
        </div>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
